.Button {
    color: white;
    padding: 12px 16px;
    border: 1px solid black;
  }
  
  .Button.btn--primary {
    background-color: #2980B9;
  }
  .Button.btn--secondary {
    background-color: #2ECC71;
  }
  .Button.btn--large {
    width: 100%;
  }
  .Button.btn-normal {
    width: auto;
  }

.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.control{
    margin-top: 0;
    margin-bottom: 0;
}